MEMGRAPH_HOST=memgraph-db
MEMGRAPH_PORT=7687
MEMGRAPH_USER=admin
MEMGRAPH_PASSWORD=twoje_haslo
ADMIN_EMAIL=admin@smartrailway.pl
ADMIN_PASSWORD=admin12345
AUTH_SECRET=twoj_token
AUTH_TOKEN_TTL_SECONDS=604800
PUBLIC_API_BASE_URL=http://localhost:8000
API_INTERNAL_URL=http://backend:8000